
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
     font-family: "Boldonse", system-ui;
     font-size: 10px;
}

main{
    min-height: 100vh;
} 

header{
    background: green;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
}

navbar {
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: auto;
}

navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
}

navbar a:hover {
    color: wheat;
    text-decoration: underline 1px;
}

footer{
    min-height: 80px;
    background: green;
    text-align: center;
    color: white;
}

p {
    line-height: 150%;
    text-indent: 30px;
}

li {
    margin-top: 10px;
    padding-left: 10px;
    list-style-image: linear-gradient(hsl(19, 71%, 66%), hsl(19, 71%, 66%));
}

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    font-family: "Playwrite DK Uloopet Guides", cursive;
}

section{
    padding: 90px 15%;

}

.logo{
    height: 50px;
}

#index {
    background: linear-gradient(#0000004d, rgba(0, 0, 0, 0.158)), url('../image/index.jpg');
    background-size: cover;
    min-height: 100vh;
}

.index-info {
    margin-top: 25vh;
    text-align: center;
}

.index-info h1 {
    font-size: 250%;
    border: 2px solid gray;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.233);
}

.link-index {
    color: white;
    text-decoration: underline wheat 2px;
    font-size: 20px;
}

.link-index:hover {
    color: wheat;
}

.centered {
    text-align: center;
}

.vframe {
    width: 100%;
    height: 30vw;
    border: 2px solid wheat;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.425) 0px 4px 10px;
}

.loc {
    overflow: auto;
    border-bottom: 5px green dashed;
    margin-bottom: 15px;
}

.loc img {
    Height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.ttimg {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

.harta {
    width: 100%;
    height: 40vh;
    border: 3px solid green;
    border-radius: 5px;
}

.row {
    overflow: auto;

}

.col-50 {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.panorama-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


.mySlides {
    display: none;
}


.mySlides img {
    height: 400px; 
    object-fit: cover; 
}

/* Textul deasupra imaginii */
.text-panorama {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.contacte, .cform {
    border: 2px solid green;
    border-radius: 7px;
    background-color: rgba(0, 128, 0, 0.349);
    padding: 5px 5%;
    height: 400px;
    margin-bottom: 15px;
}

.cform input, .cform textarea {
    width: 100%;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 4px 6px;
}

.vid {
    width: 100%;
    height: 30vw;
}

#hamburger {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 22px;
    top: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 90px 10px;
    }
    .index-info h1 {
        font-size: 250%;
    }
    .vframe {
        height: 55vw;
    }
    [class^="col-"] {
        width: 100%;
    }
    navbar a{
        display: none;
    }
    navbar.mobile a {
        display: block;
        text-align: center;
        margin-top: 12px;
    }
    navbar {
        display: block;
    }
#hamburger {
        display: block;
    }
}